body {
	font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.view {
  width: 360px;
	white-space: normal;
	word-wrap: break-word;
	overflow-wrap: break-word;
  /* line-height: 1.6; */
  text-align: justify;
}
.char {
  padding: 4px 2px;
  white-space: nowrap;
}
